$extends("templates/base.html")
$require(entry)

$def title():
$entry["name"]
$end

$def content():
<article>
<h1>$title()</h1>

$(
wikis = db.select(
'''
SELECT wiki.*
FROM source AS wiki, json_each(wiki.metadata, '$.authors')
WHERE json_extract(wiki.metadata, '$.type') = 'wiki'
AND json_each.value IN (SELECT value FROM json_each({}))
''',
json.dumps(entry["emails"]))
)


<h2>Contributions</h2>
<ul>
$for wiki in wikis:
<li><a href="$urls.build('wiki', {'slug': wiki['slug']})">$wiki["title"]</a></li>
$end
</ul>
$entry.content

</article>
$end
