%extends("templates/base.html")

%(
from werkzeug.routing import NotFound
if not entries:
    raise NotFound()
entry = entries[0]
)

%def title():
%entry["name"]
%end

%def content():
<div class="md-content">
<div class="md-content__inner">
<article class="md-typeset">
<h1>%title()</h1>

%(
wikis = [
  wiki
  for wiki in db.select({"type": "wiki"})
  if any(author in entry["emails"] for author in wiki.get("authors", [])) ]
)


<h2>Contributions</h2>
<ul>
%for wiki in wikis:
<li><a href="%urls.build('wiki', {'slug': wiki['slug']})">%wiki["title"]</a></li>
%end
</ul>
%entry.content

</article>
</div>
</div>
%end
