$(
is_home = urls.current_url() == urls.build("wiki", {"slug": "index"})
site_title = db.get("""
SELECT source.*
FROM source
WHERE json_extract(source.metadata, '$.type') = 'wiki'
AND json_extract(source.metadata, '$.slug') = 'index'""")["title"]
)
<!doctype html>
<html>
<head>
<title>
$def title():
$end
$if not is_home:
$title() -
$end
$site_title</title>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="$urls.build('css', {'slug': 'base'})">

</head>
<body>

<div class="navbar">
<nav>
<a href="$urls.build('wiki', {'slug': 'index'})"><i class="material-icons">school</i> $site_title</a>
</nav>
</div>

<main>
$def content():
$end
$content()
</main>

<footer>
<p>&copy; 2016-2019 OI Wiki Team</p>

$def footer():
$end
$footer()
</footer>

</body>
</html>
