%extends("templates/base.html")

%(
from werkzeug.routing import NotFound
if not entries:
    raise NotFound()
entry = entries[0]
)

%def title():
Tagged: %entry["title"]
%end

%def content():
<div class="md-content">
<div class="md-content__inner">
<article class="md-typeset">
<h1>%title()</h1>

<p>回到"<a href="%urls.build('wiki', {'slug': entry['slug']})">%entry["title"]</a>"</p>
%(
pages = [
  page
  for page in db.select({"type": "wiki"})
  if entry["slug"] in page.get("tags", [])]
)
%if pages:
<ul>
%for page in pages:
<li><a href="%urls.build('wiki', {'slug': page['slug']})">%page["title"]</a></li>
%end
</ul>
%end

</article>
</div>
</div>
%end
