$extends("templates/base.html")
$require(entry)

$(
is_home = urls.current_url() == urls.build("wiki", {"slug": "index"})
)

$def title():
$entry["title"]
$end

$def footer():
<p>本页面的全部内容在 <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC BY-SA 4.0</a> 和 <a href="https://github.com/zTrix/sata-license">SATA</a> 协议之条款下提供，附加条款亦可能应用
</p>

$(
authors = db.select(
'''
SELECT author.*
FROM source AS author, json_each(author.metadata, '$.emails')
WHERE json_extract(author.metadata, '$.type') = 'author'
AND json_each.value IN (SELECT value FROM json_each({}))
''',
json.dumps(entry["authors"]))
author_emails = [email for author in authors for email in author["emails"]]
)

$if entry["authors"]:
<h5>本页面贡献者</h5>
<ul>
$for author in authors:
<li><a class="grey-text text-lighten-3" href="$urls.build('author', {'slug': author['slug']})">$author["name"]</a></li>
$end
$for author in entry["authors"]:
$if author not in author_emails:
<li>$author</li>
$( warn(f"{entry.filename}: author {author!r} not found") )
$end
$end
</ul>
$end

$end


$def content():

<article>
$if not is_home:
<h1>$title()
<a href="https://github.com/OI-wiki/OI-wiki/blob/master/$entry.filename"><i class="material-icons">edit</i></a>
<a href="https://github.com/OI-wiki/OI-wiki/commits/master/$entry.filename"><i class="material-icons">history</i></a></h1>
$end


<aside class="right">
$if entry.get("canonical", None) is not None:
$(
canonical = db.get("""
SELECT wiki.*
FROM source AS wiki
WHERE json_extract(wiki.metadata, '$.type') = 'wiki'
AND json_extract(wiki.metadata, '$.slug') = {}
""", entry["canonical"])
)
<h4>Source:</h4>
<a href="$urls.build('wiki', {'slug': canonical['slug']})">$canonical["title"]</a>
$end

$(
canonicals = db.select("""
SELECT wiki.*
FROM source AS wiki
WHERE json_extract(wiki.metadata, '$.type') = 'wiki'
AND json_extract(wiki.metadata, '$.canonical') = {}
""", entry["slug"])
)

$if canonicals:
<h4>同题</h4>
$for canonical in canonicals:
$if "source" in canonical:
<a class="canonical" href="$canonical['source']">$canonical["slug"]</a>
$else:
<span class="canonical">$canonical["slug"]<span>
$end
$end
$end


$(
pages = db.select("""
SELECT wiki.*
FROM source AS wiki
WHERE json_extract(wiki.metadata, '$.type') = 'wiki'
AND {} IN (SELECT value FROM json_each(wiki.metadata, '$.tags'))
""", entry["slug"])

tags = db.select(
'''
SELECT tag.*
FROM json_each({}) as tags
JOIN source as tag
ON tags.value = json_extract(tag.metadata, '$.slug')
AND json_extract(tag.metadata, '$.type') = 'wiki'
''',
json.dumps(entry["tags"]))
tag_slugs = [tag["slug"] for tag in tags]
)

$if pages or tags:
<h4>标签</h4>
$end

$if pages:
<a class="tag" href="$urls.build('tagged', {'slug': entry['slug']})">$entry["title"]</a>
$end
$for tag in tags:
<a class="tag" href="$urls.build('tagged', {'slug': tag['slug']})">$tag["title"]</a>
$end
$for tag in entry["tags"]:
$if tag not in tag_slugs:
<span class="tag">$tag</span>
$( warn(f"{entry.filename}: tag {tag!r} not found") )
$end
$end

</aside>


<aside class="left">
$if entry.content.toc_tokens and not is_home:
<h2>目录</h2>
<ul>
$for token in entry.content.toc_tokens:
<li><a href="#$token["id"]">$token["name"]</a></li>
$end
</ul>
$end
</aside>


$entry.content

</article>

$end
